<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>
                <h3 class="section-subheading text-muted">Touch us with your finger tips</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="info-line">
                    <i class="fa icon-envelope-o fa-inverse"></i> contact@morau.io
                </p>
                <p class="info-line">
                    <i class="fa icon-phone fa-inverse"></i> +45 915 366 63
                </p>
                <p class="info-line">
                    <i class="fa icon-calendar-check-o fa-inverse"></i> Monday-Friday 8am-5pm
                </p>

            </div>
            <div class="col-md-6">
                <p class="info-line">Morau Software Service</p>
                <p class="info-line">Søllerølgade 32, Copenhagen 2200, Denmark</p>
                <p class="info-line">CVR: 40609741</p>
            </div>

            <div class="col-md-12 text-center">
                <a href="https://calendly.com/morau_ss/hello-15min" class="btn btn-xl">Book meeting</a>
            </div>
        </div>
    </div>
</section>