<!-- Journey Section -->
<section id="journey">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our journey</h2>
                <h3 class="section-subheading text-muted">together in the same team</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image fa-stack fa-2x">
                            <i class="fa icon-calendar-check-o fa-stack-1x fa-inverse"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Have a conversation</h4>
                                <h4 class="subheading">Know each other and listen to your needs</h4>
                            </div>
                            <!-- <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut
                                    voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit
                                    vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div> -->
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image fa-stack fa-2x">
                            <i class="fa icon-search fa-stack-1x fa-inverse"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Study case</h4>
                                <h4 class="subheading">Deep investigation of your shop and propose a quote</h4>
                            </div>
                            <!-- <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut
                                    voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit
                                    vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div> -->
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image fa-stack fa-2x">
                            <i class="fa icon-handshake-o fa-stack-1x fa-inverse"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Engagement</h4>
                                <h4 class="subheading">Signing a deal and your first invoice</h4>
                            </div>
                            <!-- <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut
                                    voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit
                                    vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div> -->
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image fa-stack fa-2x">
                            <i class="fa icon-code fa-stack-1x fa-inverse"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Implementation</h4>
                                <h4 class="subheading">We work to make your shop to rocks!</h4>
                            </div>
                            <!-- <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut
                                    voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit
                                    vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div> -->
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image fa-stack fa-2x">
                            <i class="fa icon-line-chart fa-stack-1x fa-inverse"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Enjoy new conversion rate</h4>
                                <h4 class="subheading">Monitor conversion rate and sales increases</h4>
                            </div>
                            <!-- <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut
                                    voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit
                                    vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div> -->
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image fa-stack fa-2x">
                            <i class="fa icon-flag-checkered fa-stack-1x fa-inverse"></i>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>